<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://addressbook.local/views/" />
            </rewriteMaps>
            <rules>
                <rule name="Login Rewrite" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/views/login.cfm" />
                </rule>

                <rule name="signupPage" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="/views/signup.cfm" />
                </rule>

                <rule name="listPage" stopProcessing="true">
                    <match url="^listPage$" />
                    <action type="Rewrite" url="/views/listPage.cfm" />
                </rule>

                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^views/listPage\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="views/listPage" appendQueryString="false" />
                </rule>

                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^views/listPage$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/listPage.cfm" />
                </rule>

                <rule name="RedirectUserFriendlyURL2" stopProcessing="true">
                    <match url="^views/login\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="views/login" appendQueryString="false" />
                </rule>

                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^views/login$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/login.cfm" />
                </rule>

                <rule name="RedirectUserFriendlyURL3" stopProcessing="true">
                    <match url="^views/signup\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="views/signup" appendQueryString="false" />
                </rule>

                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^views/signup$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/signup.cfm" />
                </rule>
            </rules>

            <outboundRules>
                <rule name="signupLink">
                    <match filterByTags="A" pattern="^/views/signup\.cfm$" />
                    <action type="Rewrite" value="signup" />
                </rule>

                <rule name="listpageLink">
                    <match filterByTags="A, Form, Img" pattern="^/views/listPage\.cfm$" />
                    <action type="Rewrite" value="/views/listPage" />
                </rule>

               <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/listPage\.cfm$" />
                    <action type="Rewrite" value="/views/listPage" />
                </rule>

                <rule name="OutboundRewriteUserFriendlyURL2" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/login\.cfm$" />
                    <action type="Rewrite" value="/views/login" />
                </rule>

                <rule name="OutboundRewriteUserFriendlyURL3" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/signup\.cfm$" />
                    <action type="Rewrite" value="/views/signup" />
                </rule>
                
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>

            </outboundRules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="0" path="/views/error404.cfm" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
