<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
        <rewriteMaps>
                <rewriteMap name="http://addressbook.local/" />
            </rewriteMaps>
            <rules>
            
                <rule name="Login Rewrite" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/views/login.cfm" />
                </rule>
                <rule name="signupPage" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="/views/signup.cfm" />
                </rule>

                <rule name="listPage" stopProcessing="true">
                    <match url="^listPage$" />
                    <action type="Rewrite" url="/views/listPage.cfm" />
                </rule>

                <rule name="pdfPage" stopProcessing="true">
                    <match url="^pdf$" />
                    <action type="Rewrite" url="/views/pdfDownload.cfm." />
                </rule>
                
            </rules>
            <outboundRules>
                <rule name="signupLink">
                    <match filterByTags="A" pattern="^/views/signup\.cfm$" />
                    <action type="Rewrite" value="signup" />
                </rule>
                <rule name="loginLink">
                    <match filterByTags="A" pattern="^/views/login\.cfm$" />
                    <action type="Rewrite" value="login" />
                </rule>
                <rule name="listpageLink">
                    <match filterByTags="Script" customTags="" pattern="^/views/listPage\.cfm$" />
                    <action type="Rewrite" value="listpage" />
                </rule>
                <customTags>
                    <tags name="window.location.href" />
                </customTags>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
