<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
        <rewriteMaps>
                <rewriteMap name="http://addressbook.local/" />
            </rewriteMaps>
            <rules>
                <rule name="Login Rewrite" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="/?action=login"/>
                </rule>
                <rule name="signupPage" stopProcessing="true">
                    <match url="^signup$" />
                    <action type="Rewrite" url="/?action=signup" />
                </rule>

                <rule name="listPage" stopProcessing="true">
                    <match url="^listPage$" />
                    <action type="Rewrite" url="./?action=listPage" />
                </rule>

                <rule name="pdfPage" stopProcessing="true">
                    <match url="^pdf$" />
                    <action type="Rewrite" url="./?action=pdf" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
